* { box-sizing: border-box; }

body {
    margin: 0;
}

.col {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 950px;
  background-color:#f5ff18;
  color:#000000;
  font-size:25px;
  float: left;
  overflow: hidden;
}
.col2 {
  text-align: center;
  border: thin solid black;
  width: 85%;
  height: 90px;
  background-color:#f5ff18;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col3 {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#ff0000;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col4 {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#0fff00;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col5 {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#c0c4c1;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}

}

.playground {

  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.top-menu {
  border: thin solid black;


}
